server:
  port: 8086

spring:
  application:
    name: auth-service
  security:
    oauth2:
      resourceserver:
        jwt:
        jwt:
          issuer-uri: http://localhost:8080/realms/ebanking-realm
          jwk-set-uri: http://keycloak:8080/realms/ebanking-realm/protocol/openid-connect/certs
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
