server:
  port: 8081

spring:
  application:
    name: auth-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ebanking-realm
          jwk-set-uri: http://localhost:8080/realms/ebanking-realm/protocol/openid-connect/certs
